@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-modern-drawer/dist/index.css";

.container {
  margin: auto;
  max-width: 1366px;
  width: 95vw;
}

/* hide close btn on map info box */
button.gm-ui-hover-effect {
  display: none !important;
}

.btn {
  @apply min-w-fit rounded-full border-2 border-slate-800 px-3 py-2 font-semibold shadow-lg md:px-5;
}

.btn-solid {
  @apply btn;
  @apply border-none bg-slate-800 text-white;
}
