@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-modern-drawer/dist/index.css";

.container {
  margin: auto;
  max-width: 1366px;
  width: 95vw;
}

/* hide close btn on map info box */
button.gm-ui-hover-effect {
  display: none !important;
}

.btn {
  @apply min-w-fit rounded-full border-2 border-slate-800 px-3 py-2 font-semibold shadow-lg md:px-5;
}

.btn-solid {
  @apply btn;
  @apply border-none bg-slate-800 text-white;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
